body{
    position: relative; /* Необходимо для абсолютного позиционирования элемента .back */
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0;
    font-family: 'Anton', sans-serif;
    background-image: url('for site.jpg');
    background-size: cover;
    background-size: 1600px;
}

.main-txt{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

p{
    padding-top: 10px;
    font-size: 25px;
}

html,
body {
    height: 90%;
}

.btn{
    width: 200px;
    height: 60px;
    border-radius: 10px;
    margin-top: 40px;
    border: solid 0.5px black;
}

.text-btn{
    font-size: 18px;
    font-weight: bold;
}

.btn:hover{
    transition: 0.3s ease;
    background-color: #f7f7f7;
    box-shadow: 0 2px 15px rgb(255, 255, 255, 0.4);
}

@media screen and (max-width: 1290px) {
    body {
        background-size: 1600px;
    }

    .main-txt{
        font-size: 15px;
    }

    p{
        font-size: 20px;
    }

    .btn{
        margin-top: 10px;
    }
}